<h2 class="page-header">Editar Autor</h2>
<form action="/authors/<%= author.id %>?_method=PUT" method="POST">
    <%- include('_form_fields') %> 
    <a href="/authors/<%= author.id %>">Cancelar</a>
    <button type="submit">Actualizar</button>
</form>